# BPS mod_authz_core IfModule BC
<IfModule mod_authz_core.c>
Require ip ::1
</IfModule>

<IfModule !mod_authz_core.c>
<IfModule mod_access_compat.c>
<FilesMatch "(.*)$">
Order Allow,Deny
Allow from ::1
</FilesMatch>
</IfModule>
</IfModule>